[Desktop Entry]
Encoding=UTF-8
Name=Ardentryst
Categories=Game;RolePlaying
Comment=Fantasy sidescroller game
Exec=ardentryst
Terminal=false
Icon=ardentryst
Type=Application
